<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <h1 class="text-center text-3xl mt-10 font-bold">Here's Your Omikuji!</h1>
        <p class="text-center w-100 mx-auto font-bold text-3xl bg-blue-500 border mt-6 px-5">
            In [[${session.num}]] years, you will live in [[${session.city}]] with [[${session.name}]] as your roommate, [[${session.end_hab}]] for a living. The next time you see a [[${session.type}]], you will have good luck. Also, [[${session.nice}]].
        </p>
        <a href="/omikuji" class="mt-10 text-blue-500 underline block text-center">Go Back</a>
    </body>
</html>