<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <p class="font-bold text-[36px] mt-25 w-100 text-center ml-auto mr-auto">Counter</p>
    <p class="w-100 text-center ml-auto mr-auto mt-5 mb-3">{{number}} times.</p>

    <form action="/restart">
        <input class="border w-30 h-10 block ml-auto mr-auto mb-3 bg-violet-700 text-[17px] text-white" type="submit" value="Reset">
    </form>
</body>

</html>