<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='first_page.css') }}">
    <link rel="stylesheet" href="../static/first_page.css">
    <script></script>
</head>

<body>
    <div class="relativ">
        <h1 class="title">Welcome!</h1>
        <div class="container flex">
            <div class="buetifull-box"></div>
            <div class="buetifull-box"></div>
            <div class="buetifull-box"></div>
        </div>
    </div>
</body>

</html>