*{
    margin: 0;
    padding: 0;
}

.fontFamilly{
    font-family: "Balsamiq Sans", sans-serif;
}

.header{
    display: flex;
    width: 27%;
    height: 80px;
    background-color: black;
    margin: 0 auto;
    align-items: center;
}

.header-title{
    color: white;
    margin: 0 0 0 25px;
}

.feeds-title{
    font-weight: normal;
    text-align: center;
    margin-top: 25px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.profile-info-div{
    border: 3px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 25px 0 25px 0;
}

.profile-img{
    margin: 0 auto 25px auto;
    display: block;
    width: 70px;
}

.avatar-link{
    font-size: 20px;
    color: #2A6BA2;
}

.profile-name{
    margin-top: 25px;
    font-size: 20px;
}

.feeds-container{
    margin: 0 0 0 25px;
}

.feed-div{
    border: 3px solid black;
    width: 340px;
    height: 160px;
    margin-bottom: 20px;
}

.feed-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0 25px 0;
}

.feed-description{
    margin: 0 0 0 15px;
    padding-top: 20px;
    font-size: 17px;
}

.person-name{
    font-weight: normal;
    font-size: 24px;
}

.feed-description-link{
    color:#2A6BA2;
}

.increase-likes{
    height: 40px;
    width: 60px;
    font-size: 17px;
    border: 3px solid black;
    box-shadow: 4px 4px 4px black;
    background-color: #FFD966;
}


