.flex{
    display: flex;
    align-items: center;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    width: 1250px;
    height: 400px;
    margin: 25px auto 0 auto;
}

.buetifull-box{
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: aqua;
    border: 1px solid black;
}

.relativ{
    position: relative;
    top: 60px;
}